<br/>
<div class="container">


  <div class="card">
    <div class="card-header">
      Personas
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Sexo</th>
            <th scope="col">Documento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!_hasRecords"><td colspan="4">Sin datos</td></tr>
          <tr *ngFor="let p of person" [hidden]="_isSkeleton">
            <td>{{p.nombre}}</td>
            <td>{{p.edad}}</td>
            <td>{{p.sexo}}</td>
            <td>{{p.documento}}</td>
          </tr>
          <tr [hidden]="!_isSkeleton">
            <td colspan="4" class="text-center">Cargando...</td>
          </tr>
        </tbody>
      </table>
      <br>
      <br>
      <form [formGroup]="mainForm">
        <table>
          <tr>
            <td><label>Nombre: </label></td>
            <td><input formControlName="nombre" type="text" [class.invalid]="!mainForm.controls.nombre.valid && (mainForm.controls.nombre.dirty || submitAttempt)"></td>
          </tr>
          <tr *ngIf="!mainForm.controls.nombre.valid  && (mainForm.controls.nombre.dirty || submitAttempt)" class="border-none">
            <td></td>
            <td colspan="2"><label class="danger">El nombre es requerido</label></td>
          </tr>
          <tr>
            <td><label>Edad: </label></td>
            <td><input formControlName="edad" type="number" [class.invalid]="!mainForm.controls.edad.valid && (mainForm.controls.edad.dirty || submitAttempt)"></td>
          </tr>
          <tr *ngIf="!mainForm.controls.edad.valid  && (mainForm.controls.edad.dirty || submitAttempt)" class="border-none">
            <td></td>
            <td colspan="2"><label class="danger">La edad es requerido</label></td>
          </tr>
          <tr>
            <td><label>Sexo: </label></td>
            <td>
              <select formControlName="sexo" type="number" [class.invalid]="!mainForm.controls.sexo.valid && (mainForm.controls.sexo.dirty || submitAttempt)">
                <option value ="">Selecione una opcion</option>
                <option value ="male">Male</option>
                <option value ="female">Female</option>
              </select>
            </td>
          </tr>
          <tr *ngIf="!mainForm.controls.sexo.valid  && (mainForm.controls.sexo.dirty || submitAttempt)" class="border-none">
            <td></td>
            <td colspan="2"><label class="danger">El sexo es requerido</label></td>
          </tr>
          <tr>
            <td><label>Documento: </label></td>
            <td><input formControlName="documento" type="file" [class.invalid]="!mainForm.controls.documento.valid && (mainForm.controls.documento.dirty || submitAttempt)"></td>
          </tr>
          <tr *ngIf="!mainForm.controls.documento.valid  && (mainForm.controls.documento.dirty || submitAttempt)" class="border-none">
            <td></td>
            <td colspan="2"><label class="danger">El documento es requerido</label></td>
          </tr>
          <tr>
            <td><button (click)="storeData()">Guardar</button></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
